*.pokemon-collapse-venusaur:checked ~ table > *.pokemon-venusaur *.expanded-only { display: none; }
*.pokemon-collapse-venusaur:not(:checked) ~ table > *.pokemon-venusaur *.collapsed-only { display: none; }

*.pokemon-collapse-charizard:checked ~ table > *.pokemon-charizard *.expanded-only { display: none; }
*.pokemon-collapse-charizard:not(:checked) ~ table > *.pokemon-charizard *.collapsed-only { display: none; }

*.pokemon-collapse-blastoise:checked ~ table > *.pokemon-blastoise *.expanded-only { display: none; }
*.pokemon-collapse-blastoise:not(:checked) ~ table > *.pokemon-blastoise *.collapsed-only { display: none; }

*.pokemon-collapse-beedrill:checked ~ table > *.pokemon-beedrill *.expanded-only { display: none; }
*.pokemon-collapse-beedrill:not(:checked) ~ table > *.pokemon-beedrill *.collapsed-only { display: none; }

*.pokemon-collapse-pidgeot:checked ~ table > *.pokemon-pidgeot *.expanded-only { display: none; }
*.pokemon-collapse-pidgeot:not(:checked) ~ table > *.pokemon-pidgeot *.collapsed-only { display: none; }

*.pokemon-collapse-rattata:checked ~ table > *.pokemon-rattata *.expanded-only { display: none; }
*.pokemon-collapse-rattata:not(:checked) ~ table > *.pokemon-rattata *.collapsed-only { display: none; }

*.pokemon-collapse-raticate:checked ~ table > *.pokemon-raticate *.expanded-only { display: none; }
*.pokemon-collapse-raticate:not(:checked) ~ table > *.pokemon-raticate *.collapsed-only { display: none; }

*.pokemon-collapse-pikachu:checked ~ table > *.pokemon-pikachu *.expanded-only { display: none; }
*.pokemon-collapse-pikachu:not(:checked) ~ table > *.pokemon-pikachu *.collapsed-only { display: none; }

*.pokemon-collapse-raichu:checked ~ table > *.pokemon-raichu *.expanded-only { display: none; }
*.pokemon-collapse-raichu:not(:checked) ~ table > *.pokemon-raichu *.collapsed-only { display: none; }

*.pokemon-collapse-sandshrew:checked ~ table > *.pokemon-sandshrew *.expanded-only { display: none; }
*.pokemon-collapse-sandshrew:not(:checked) ~ table > *.pokemon-sandshrew *.collapsed-only { display: none; }

*.pokemon-collapse-sandslash:checked ~ table > *.pokemon-sandslash *.expanded-only { display: none; }
*.pokemon-collapse-sandslash:not(:checked) ~ table > *.pokemon-sandslash *.collapsed-only { display: none; }

*.pokemon-collapse-vulpix:checked ~ table > *.pokemon-vulpix *.expanded-only { display: none; }
*.pokemon-collapse-vulpix:not(:checked) ~ table > *.pokemon-vulpix *.collapsed-only { display: none; }

*.pokemon-collapse-ninetales:checked ~ table > *.pokemon-ninetales *.expanded-only { display: none; }
*.pokemon-collapse-ninetales:not(:checked) ~ table > *.pokemon-ninetales *.collapsed-only { display: none; }

*.pokemon-collapse-diglett:checked ~ table > *.pokemon-diglett *.expanded-only { display: none; }
*.pokemon-collapse-diglett:not(:checked) ~ table > *.pokemon-diglett *.collapsed-only { display: none; }

*.pokemon-collapse-dugtrio:checked ~ table > *.pokemon-dugtrio *.expanded-only { display: none; }
*.pokemon-collapse-dugtrio:not(:checked) ~ table > *.pokemon-dugtrio *.collapsed-only { display: none; }

*.pokemon-collapse-meowth:checked ~ table > *.pokemon-meowth *.expanded-only { display: none; }
*.pokemon-collapse-meowth:not(:checked) ~ table > *.pokemon-meowth *.collapsed-only { display: none; }

*.pokemon-collapse-persian:checked ~ table > *.pokemon-persian *.expanded-only { display: none; }
*.pokemon-collapse-persian:not(:checked) ~ table > *.pokemon-persian *.collapsed-only { display: none; }

*.pokemon-collapse-alakazam:checked ~ table > *.pokemon-alakazam *.expanded-only { display: none; }
*.pokemon-collapse-alakazam:not(:checked) ~ table > *.pokemon-alakazam *.collapsed-only { display: none; }

*.pokemon-collapse-geodude:checked ~ table > *.pokemon-geodude *.expanded-only { display: none; }
*.pokemon-collapse-geodude:not(:checked) ~ table > *.pokemon-geodude *.collapsed-only { display: none; }

*.pokemon-collapse-graveler:checked ~ table > *.pokemon-graveler *.expanded-only { display: none; }
*.pokemon-collapse-graveler:not(:checked) ~ table > *.pokemon-graveler *.collapsed-only { display: none; }

*.pokemon-collapse-golem:checked ~ table > *.pokemon-golem *.expanded-only { display: none; }
*.pokemon-collapse-golem:not(:checked) ~ table > *.pokemon-golem *.collapsed-only { display: none; }

*.pokemon-collapse-slowbro:checked ~ table > *.pokemon-slowbro *.expanded-only { display: none; }
*.pokemon-collapse-slowbro:not(:checked) ~ table > *.pokemon-slowbro *.collapsed-only { display: none; }

*.pokemon-collapse-grimer:checked ~ table > *.pokemon-grimer *.expanded-only { display: none; }
*.pokemon-collapse-grimer:not(:checked) ~ table > *.pokemon-grimer *.collapsed-only { display: none; }

*.pokemon-collapse-muk:checked ~ table > *.pokemon-muk *.expanded-only { display: none; }
*.pokemon-collapse-muk:not(:checked) ~ table > *.pokemon-muk *.collapsed-only { display: none; }

*.pokemon-collapse-gengar:checked ~ table > *.pokemon-gengar *.expanded-only { display: none; }
*.pokemon-collapse-gengar:not(:checked) ~ table > *.pokemon-gengar *.collapsed-only { display: none; }

*.pokemon-collapse-exeggutor:checked ~ table > *.pokemon-exeggutor *.expanded-only { display: none; }
*.pokemon-collapse-exeggutor:not(:checked) ~ table > *.pokemon-exeggutor *.collapsed-only { display: none; }

*.pokemon-collapse-marowak:checked ~ table > *.pokemon-marowak *.expanded-only { display: none; }
*.pokemon-collapse-marowak:not(:checked) ~ table > *.pokemon-marowak *.collapsed-only { display: none; }

*.pokemon-collapse-kangaskhan:checked ~ table > *.pokemon-kangaskhan *.expanded-only { display: none; }
*.pokemon-collapse-kangaskhan:not(:checked) ~ table > *.pokemon-kangaskhan *.collapsed-only { display: none; }

*.pokemon-collapse-pinsir:checked ~ table > *.pokemon-pinsir *.expanded-only { display: none; }
*.pokemon-collapse-pinsir:not(:checked) ~ table > *.pokemon-pinsir *.collapsed-only { display: none; }

*.pokemon-collapse-gyarados:checked ~ table > *.pokemon-gyarados *.expanded-only { display: none; }
*.pokemon-collapse-gyarados:not(:checked) ~ table > *.pokemon-gyarados *.collapsed-only { display: none; }

*.pokemon-collapse-aerodactyl:checked ~ table > *.pokemon-aerodactyl *.expanded-only { display: none; }
*.pokemon-collapse-aerodactyl:not(:checked) ~ table > *.pokemon-aerodactyl *.collapsed-only { display: none; }

*.pokemon-collapse-mewtwo:checked ~ table > *.pokemon-mewtwo *.expanded-only { display: none; }
*.pokemon-collapse-mewtwo:not(:checked) ~ table > *.pokemon-mewtwo *.collapsed-only { display: none; }

*.pokemon-collapse-ampharos:checked ~ table > *.pokemon-ampharos *.expanded-only { display: none; }
*.pokemon-collapse-ampharos:not(:checked) ~ table > *.pokemon-ampharos *.collapsed-only { display: none; }

*.pokemon-collapse-unown:checked ~ table > *.pokemon-unown *.expanded-only { display: none; }
*.pokemon-collapse-unown:not(:checked) ~ table > *.pokemon-unown *.collapsed-only { display: none; }

*.pokemon-collapse-steelix:checked ~ table > *.pokemon-steelix *.expanded-only { display: none; }
*.pokemon-collapse-steelix:not(:checked) ~ table > *.pokemon-steelix *.collapsed-only { display: none; }

*.pokemon-collapse-scizor:checked ~ table > *.pokemon-scizor *.expanded-only { display: none; }
*.pokemon-collapse-scizor:not(:checked) ~ table > *.pokemon-scizor *.collapsed-only { display: none; }

*.pokemon-collapse-heracross:checked ~ table > *.pokemon-heracross *.expanded-only { display: none; }
*.pokemon-collapse-heracross:not(:checked) ~ table > *.pokemon-heracross *.collapsed-only { display: none; }

*.pokemon-collapse-houndoom:checked ~ table > *.pokemon-houndoom *.expanded-only { display: none; }
*.pokemon-collapse-houndoom:not(:checked) ~ table > *.pokemon-houndoom *.collapsed-only { display: none; }

*.pokemon-collapse-tyranitar:checked ~ table > *.pokemon-tyranitar *.expanded-only { display: none; }
*.pokemon-collapse-tyranitar:not(:checked) ~ table > *.pokemon-tyranitar *.collapsed-only { display: none; }

*.pokemon-collapse-sceptile:checked ~ table > *.pokemon-sceptile *.expanded-only { display: none; }
*.pokemon-collapse-sceptile:not(:checked) ~ table > *.pokemon-sceptile *.collapsed-only { display: none; }

*.pokemon-collapse-blaziken:checked ~ table > *.pokemon-blaziken *.expanded-only { display: none; }
*.pokemon-collapse-blaziken:not(:checked) ~ table > *.pokemon-blaziken *.collapsed-only { display: none; }

*.pokemon-collapse-swampert:checked ~ table > *.pokemon-swampert *.expanded-only { display: none; }
*.pokemon-collapse-swampert:not(:checked) ~ table > *.pokemon-swampert *.collapsed-only { display: none; }

*.pokemon-collapse-gardevoir:checked ~ table > *.pokemon-gardevoir *.expanded-only { display: none; }
*.pokemon-collapse-gardevoir:not(:checked) ~ table > *.pokemon-gardevoir *.collapsed-only { display: none; }

*.pokemon-collapse-sableye:checked ~ table > *.pokemon-sableye *.expanded-only { display: none; }
*.pokemon-collapse-sableye:not(:checked) ~ table > *.pokemon-sableye *.collapsed-only { display: none; }

*.pokemon-collapse-mawile:checked ~ table > *.pokemon-mawile *.expanded-only { display: none; }
*.pokemon-collapse-mawile:not(:checked) ~ table > *.pokemon-mawile *.collapsed-only { display: none; }

*.pokemon-collapse-aggron:checked ~ table > *.pokemon-aggron *.expanded-only { display: none; }
*.pokemon-collapse-aggron:not(:checked) ~ table > *.pokemon-aggron *.collapsed-only { display: none; }

*.pokemon-collapse-medicham:checked ~ table > *.pokemon-medicham *.expanded-only { display: none; }
*.pokemon-collapse-medicham:not(:checked) ~ table > *.pokemon-medicham *.collapsed-only { display: none; }

*.pokemon-collapse-manectric:checked ~ table > *.pokemon-manectric *.expanded-only { display: none; }
*.pokemon-collapse-manectric:not(:checked) ~ table > *.pokemon-manectric *.collapsed-only { display: none; }

*.pokemon-collapse-sharpedo:checked ~ table > *.pokemon-sharpedo *.expanded-only { display: none; }
*.pokemon-collapse-sharpedo:not(:checked) ~ table > *.pokemon-sharpedo *.collapsed-only { display: none; }

*.pokemon-collapse-camerupt:checked ~ table > *.pokemon-camerupt *.expanded-only { display: none; }
*.pokemon-collapse-camerupt:not(:checked) ~ table > *.pokemon-camerupt *.collapsed-only { display: none; }

*.pokemon-collapse-altaria:checked ~ table > *.pokemon-altaria *.expanded-only { display: none; }
*.pokemon-collapse-altaria:not(:checked) ~ table > *.pokemon-altaria *.collapsed-only { display: none; }

*.pokemon-collapse-castform:checked ~ table > *.pokemon-castform *.expanded-only { display: none; }
*.pokemon-collapse-castform:not(:checked) ~ table > *.pokemon-castform *.collapsed-only { display: none; }

*.pokemon-collapse-banette:checked ~ table > *.pokemon-banette *.expanded-only { display: none; }
*.pokemon-collapse-banette:not(:checked) ~ table > *.pokemon-banette *.collapsed-only { display: none; }

*.pokemon-collapse-absol:checked ~ table > *.pokemon-absol *.expanded-only { display: none; }
*.pokemon-collapse-absol:not(:checked) ~ table > *.pokemon-absol *.collapsed-only { display: none; }

*.pokemon-collapse-glalie:checked ~ table > *.pokemon-glalie *.expanded-only { display: none; }
*.pokemon-collapse-glalie:not(:checked) ~ table > *.pokemon-glalie *.collapsed-only { display: none; }

*.pokemon-collapse-salamence:checked ~ table > *.pokemon-salamence *.expanded-only { display: none; }
*.pokemon-collapse-salamence:not(:checked) ~ table > *.pokemon-salamence *.collapsed-only { display: none; }

*.pokemon-collapse-metagross:checked ~ table > *.pokemon-metagross *.expanded-only { display: none; }
*.pokemon-collapse-metagross:not(:checked) ~ table > *.pokemon-metagross *.collapsed-only { display: none; }

*.pokemon-collapse-latias:checked ~ table > *.pokemon-latias *.expanded-only { display: none; }
*.pokemon-collapse-latias:not(:checked) ~ table > *.pokemon-latias *.collapsed-only { display: none; }

*.pokemon-collapse-latios:checked ~ table > *.pokemon-latios *.expanded-only { display: none; }
*.pokemon-collapse-latios:not(:checked) ~ table > *.pokemon-latios *.collapsed-only { display: none; }

*.pokemon-collapse-kyogre:checked ~ table > *.pokemon-kyogre *.expanded-only { display: none; }
*.pokemon-collapse-kyogre:not(:checked) ~ table > *.pokemon-kyogre *.collapsed-only { display: none; }

*.pokemon-collapse-groudon:checked ~ table > *.pokemon-groudon *.expanded-only { display: none; }
*.pokemon-collapse-groudon:not(:checked) ~ table > *.pokemon-groudon *.collapsed-only { display: none; }

*.pokemon-collapse-rayquaza:checked ~ table > *.pokemon-rayquaza *.expanded-only { display: none; }
*.pokemon-collapse-rayquaza:not(:checked) ~ table > *.pokemon-rayquaza *.collapsed-only { display: none; }

*.pokemon-collapse-deoxys:checked ~ table > *.pokemon-deoxys *.expanded-only { display: none; }
*.pokemon-collapse-deoxys:not(:checked) ~ table > *.pokemon-deoxys *.collapsed-only { display: none; }

*.pokemon-collapse-burmy:checked ~ table > *.pokemon-burmy *.expanded-only { display: none; }
*.pokemon-collapse-burmy:not(:checked) ~ table > *.pokemon-burmy *.collapsed-only { display: none; }

*.pokemon-collapse-wormadam:checked ~ table > *.pokemon-wormadam *.expanded-only { display: none; }
*.pokemon-collapse-wormadam:not(:checked) ~ table > *.pokemon-wormadam *.collapsed-only { display: none; }

*.pokemon-collapse-cherrim:checked ~ table > *.pokemon-cherrim *.expanded-only { display: none; }
*.pokemon-collapse-cherrim:not(:checked) ~ table > *.pokemon-cherrim *.collapsed-only { display: none; }

*.pokemon-collapse-shellos:checked ~ table > *.pokemon-shellos *.expanded-only { display: none; }
*.pokemon-collapse-shellos:not(:checked) ~ table > *.pokemon-shellos *.collapsed-only { display: none; }

*.pokemon-collapse-gastrodon:checked ~ table > *.pokemon-gastrodon *.expanded-only { display: none; }
*.pokemon-collapse-gastrodon:not(:checked) ~ table > *.pokemon-gastrodon *.collapsed-only { display: none; }

*.pokemon-collapse-lopunny:checked ~ table > *.pokemon-lopunny *.expanded-only { display: none; }
*.pokemon-collapse-lopunny:not(:checked) ~ table > *.pokemon-lopunny *.collapsed-only { display: none; }

*.pokemon-collapse-garchomp:checked ~ table > *.pokemon-garchomp *.expanded-only { display: none; }
*.pokemon-collapse-garchomp:not(:checked) ~ table > *.pokemon-garchomp *.collapsed-only { display: none; }

*.pokemon-collapse-lucario:checked ~ table > *.pokemon-lucario *.expanded-only { display: none; }
*.pokemon-collapse-lucario:not(:checked) ~ table > *.pokemon-lucario *.collapsed-only { display: none; }

*.pokemon-collapse-abomasnow:checked ~ table > *.pokemon-abomasnow *.expanded-only { display: none; }
*.pokemon-collapse-abomasnow:not(:checked) ~ table > *.pokemon-abomasnow *.collapsed-only { display: none; }

*.pokemon-collapse-gallade:checked ~ table > *.pokemon-gallade *.expanded-only { display: none; }
*.pokemon-collapse-gallade:not(:checked) ~ table > *.pokemon-gallade *.collapsed-only { display: none; }

*.pokemon-collapse-rotom:checked ~ table > *.pokemon-rotom *.expanded-only { display: none; }
*.pokemon-collapse-rotom:not(:checked) ~ table > *.pokemon-rotom *.collapsed-only { display: none; }

*.pokemon-collapse-giratina:checked ~ table > *.pokemon-giratina *.expanded-only { display: none; }
*.pokemon-collapse-giratina:not(:checked) ~ table > *.pokemon-giratina *.collapsed-only { display: none; }

*.pokemon-collapse-shaymin:checked ~ table > *.pokemon-shaymin *.expanded-only { display: none; }
*.pokemon-collapse-shaymin:not(:checked) ~ table > *.pokemon-shaymin *.collapsed-only { display: none; }

*.pokemon-collapse-arceus:checked ~ table > *.pokemon-arceus *.expanded-only { display: none; }
*.pokemon-collapse-arceus:not(:checked) ~ table > *.pokemon-arceus *.collapsed-only { display: none; }

*.pokemon-collapse-audino:checked ~ table > *.pokemon-audino *.expanded-only { display: none; }
*.pokemon-collapse-audino:not(:checked) ~ table > *.pokemon-audino *.collapsed-only { display: none; }

*.pokemon-collapse-basculin:checked ~ table > *.pokemon-basculin *.expanded-only { display: none; }
*.pokemon-collapse-basculin:not(:checked) ~ table > *.pokemon-basculin *.collapsed-only { display: none; }

*.pokemon-collapse-darmanitan:checked ~ table > *.pokemon-darmanitan *.expanded-only { display: none; }
*.pokemon-collapse-darmanitan:not(:checked) ~ table > *.pokemon-darmanitan *.collapsed-only { display: none; }

*.pokemon-collapse-deerling:checked ~ table > *.pokemon-deerling *.expanded-only { display: none; }
*.pokemon-collapse-deerling:not(:checked) ~ table > *.pokemon-deerling *.collapsed-only { display: none; }

*.pokemon-collapse-sawsbuck:checked ~ table > *.pokemon-sawsbuck *.expanded-only { display: none; }
*.pokemon-collapse-sawsbuck:not(:checked) ~ table > *.pokemon-sawsbuck *.collapsed-only { display: none; }

*.pokemon-collapse-tornadus:checked ~ table > *.pokemon-tornadus *.expanded-only { display: none; }
*.pokemon-collapse-tornadus:not(:checked) ~ table > *.pokemon-tornadus *.collapsed-only { display: none; }

*.pokemon-collapse-thundurus:checked ~ table > *.pokemon-thundurus *.expanded-only { display: none; }
*.pokemon-collapse-thundurus:not(:checked) ~ table > *.pokemon-thundurus *.collapsed-only { display: none; }

*.pokemon-collapse-landorus:checked ~ table > *.pokemon-landorus *.expanded-only { display: none; }
*.pokemon-collapse-landorus:not(:checked) ~ table > *.pokemon-landorus *.collapsed-only { display: none; }

*.pokemon-collapse-kyurem:checked ~ table > *.pokemon-kyurem *.expanded-only { display: none; }
*.pokemon-collapse-kyurem:not(:checked) ~ table > *.pokemon-kyurem *.collapsed-only { display: none; }

*.pokemon-collapse-keldeo:checked ~ table > *.pokemon-keldeo *.expanded-only { display: none; }
*.pokemon-collapse-keldeo:not(:checked) ~ table > *.pokemon-keldeo *.collapsed-only { display: none; }

*.pokemon-collapse-meloetta:checked ~ table > *.pokemon-meloetta *.expanded-only { display: none; }
*.pokemon-collapse-meloetta:not(:checked) ~ table > *.pokemon-meloetta *.collapsed-only { display: none; }

*.pokemon-collapse-genesect:checked ~ table > *.pokemon-genesect *.expanded-only { display: none; }
*.pokemon-collapse-genesect:not(:checked) ~ table > *.pokemon-genesect *.collapsed-only { display: none; }

*.pokemon-collapse-greninja:checked ~ table > *.pokemon-greninja *.expanded-only { display: none; }
*.pokemon-collapse-greninja:not(:checked) ~ table > *.pokemon-greninja *.collapsed-only { display: none; }

*.pokemon-collapse-vivillon:checked ~ table > *.pokemon-vivillon *.expanded-only { display: none; }
*.pokemon-collapse-vivillon:not(:checked) ~ table > *.pokemon-vivillon *.collapsed-only { display: none; }

*.pokemon-collapse-flabebe:checked ~ table > *.pokemon-flabebe *.expanded-only { display: none; }
*.pokemon-collapse-flabebe:not(:checked) ~ table > *.pokemon-flabebe *.collapsed-only { display: none; }

*.pokemon-collapse-floette:checked ~ table > *.pokemon-floette *.expanded-only { display: none; }
*.pokemon-collapse-floette:not(:checked) ~ table > *.pokemon-floette *.collapsed-only { display: none; }

*.pokemon-collapse-florges:checked ~ table > *.pokemon-florges *.expanded-only { display: none; }
*.pokemon-collapse-florges:not(:checked) ~ table > *.pokemon-florges *.collapsed-only { display: none; }

*.pokemon-collapse-furfrou:checked ~ table > *.pokemon-furfrou *.expanded-only { display: none; }
*.pokemon-collapse-furfrou:not(:checked) ~ table > *.pokemon-furfrou *.collapsed-only { display: none; }

*.pokemon-collapse-meowstic:checked ~ table > *.pokemon-meowstic *.expanded-only { display: none; }
*.pokemon-collapse-meowstic:not(:checked) ~ table > *.pokemon-meowstic *.collapsed-only { display: none; }

*.pokemon-collapse-aegislash:checked ~ table > *.pokemon-aegislash *.expanded-only { display: none; }
*.pokemon-collapse-aegislash:not(:checked) ~ table > *.pokemon-aegislash *.collapsed-only { display: none; }

*.pokemon-collapse-pumpkaboo:checked ~ table > *.pokemon-pumpkaboo *.expanded-only { display: none; }
*.pokemon-collapse-pumpkaboo:not(:checked) ~ table > *.pokemon-pumpkaboo *.collapsed-only { display: none; }

*.pokemon-collapse-gourgeist:checked ~ table > *.pokemon-gourgeist *.expanded-only { display: none; }
*.pokemon-collapse-gourgeist:not(:checked) ~ table > *.pokemon-gourgeist *.collapsed-only { display: none; }

*.pokemon-collapse-xerneas:checked ~ table > *.pokemon-xerneas *.expanded-only { display: none; }
*.pokemon-collapse-xerneas:not(:checked) ~ table > *.pokemon-xerneas *.collapsed-only { display: none; }

*.pokemon-collapse-zygarde:checked ~ table > *.pokemon-zygarde *.expanded-only { display: none; }
*.pokemon-collapse-zygarde:not(:checked) ~ table > *.pokemon-zygarde *.collapsed-only { display: none; }

*.pokemon-collapse-diancie:checked ~ table > *.pokemon-diancie *.expanded-only { display: none; }
*.pokemon-collapse-diancie:not(:checked) ~ table > *.pokemon-diancie *.collapsed-only { display: none; }

*.pokemon-collapse-hoopa:checked ~ table > *.pokemon-hoopa *.expanded-only { display: none; }
*.pokemon-collapse-hoopa:not(:checked) ~ table > *.pokemon-hoopa *.collapsed-only { display: none; }

*.pokemon-collapse-oricorio:checked ~ table > *.pokemon-oricorio *.expanded-only { display: none; }
*.pokemon-collapse-oricorio:not(:checked) ~ table > *.pokemon-oricorio *.collapsed-only { display: none; }

*.pokemon-collapse-lycanroc:checked ~ table > *.pokemon-lycanroc *.expanded-only { display: none; }
*.pokemon-collapse-lycanroc:not(:checked) ~ table > *.pokemon-lycanroc *.collapsed-only { display: none; }

*.pokemon-collapse-wishiwashi:checked ~ table > *.pokemon-wishiwashi *.expanded-only { display: none; }
*.pokemon-collapse-wishiwashi:not(:checked) ~ table > *.pokemon-wishiwashi *.collapsed-only { display: none; }

*.pokemon-collapse-silvally:checked ~ table > *.pokemon-silvally *.expanded-only { display: none; }
*.pokemon-collapse-silvally:not(:checked) ~ table > *.pokemon-silvally *.collapsed-only { display: none; }

*.pokemon-collapse-minior:checked ~ table > *.pokemon-minior *.expanded-only { display: none; }
*.pokemon-collapse-minior:not(:checked) ~ table > *.pokemon-minior *.collapsed-only { display: none; }

*.pokemon-collapse-mimikyu:checked ~ table > *.pokemon-mimikyu *.expanded-only { display: none; }
*.pokemon-collapse-mimikyu:not(:checked) ~ table > *.pokemon-mimikyu *.collapsed-only { display: none; }

*.pokemon-collapse-necrozma:checked ~ table > *.pokemon-necrozma *.expanded-only { display: none; }
*.pokemon-collapse-necrozma:not(:checked) ~ table > *.pokemon-necrozma *.collapsed-only { display: none; }

*.pokemon-collapse-magearna:checked ~ table > *.pokemon-magearna *.expanded-only { display: none; }
*.pokemon-collapse-magearna:not(:checked) ~ table > *.pokemon-magearna *.collapsed-only { display: none; }
